.myInput{
    width: 300px;
    padding: 5px 15px;
    border: 1px solid #000;
    background-color: #dbdbdb;
    border-radius: 10px;
}
textarea:focus, input:focus{
    outline: none;
    transition: ease .3s;
    border: 1px solid #f7186a;
}